<%- include('partials/header.ejs', { 
    title: 'Home',
    buttons: ['new', 'theme']
}) %>

<main>
    <h1>Mindfulness Blog</h1>

    <% if (locals.articlesIndex) { %>
        <!-- Articles list -->
        <ul>
            <% for (let article of locals.articlesIndex) { %>
                <li class="article-item">
                    <div class="article-presentation">
                        <%= article.date %>
                        <a href="/articles/<%= article.id %>"><%= article.title %></a>

                        <!-- Article actions (edit and delete) -->
                        <div class="article-actions">
                            <a href="/form/<%= article.id %>" class="btn btn-edit">✏️</a>
                            <button class="btn btn-delete" data-action="delete" data-id="<%= article.id %>">🗑️</button>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>

    <% } else { %> <!-- if NOT (locals.articlesIndex) -->
        <p>No articles yet 🥸</p>
    <% } %> <!-- end of else -->

</main>

<%- include('partials/footer.ejs') %>