<%- include('partials/header.ejs', { title: 'Home' }) %>

<main>
    <h1>Mindfulness Blog</h1>

    <% if (locals.articlesIndex) { %>
        <ul>
            <% for (let article of locals.articlesIndex) { %>
                <li class="article-item">
                    <div class="article-presentation">
                        <%= article.date %>
                        <a href="/articles/<%= article.id %>"><%= article.title %></a>
                        <div class="article-actions">
                            <!-- TODO: Condition of buttons display, depending of article status (locked/unlocked) -->
                            <button class="btn btn-edit" data-action="edit" data-id="<%= article.id %>">✏️</button>
                            <button class="btn btn-delete" data-action="delete" data-id="<%= article.id %>">🗑️</button>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>
    <% } else { %> <!-- if (locals.articlesIndex) -->
        <p>No articles yet 🥸</p>
    <% } %> <!-- else -->

</main>

<%- include('partials/footer.ejs') %>