<%- include('partials/header.ejs', { 
    title: 'Home',
    buttons: ['new']
}) %>

<main>
    <h1>Mindfulness Blog</h1>

    <% if (locals.articlesIndex) { %>
        <ul>
            <% for (let article of locals.articlesIndex) { %>
                <li class="article-item">
                    <div class="article-presentation">
                        <%= article.date %>
                        <a href="/articles/<%= article.id %>"><%= article.title %></a>
                        <div class="article-actions">
                            <a href="/form/<%= article.id %>" class="btn btn-edit">✏️</a>

                            <!-- Button with a different data-action from the button on the navbar.
                            It deletes the article from the index via DOM without page reload -->
                            <button class="btn btn-delete" data-action="delete-from-index" data-id="<%= article.id %>">🗑️</button>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>
    <% } else { %> <!-- if (locals.articlesIndex) -->
        <p>No articles yet 🥸</p>
    <% } %> <!-- else -->

</main>

<%- include('partials/footer.ejs') %>